<div class="col-lg-8 col-md-7 col-sm-8 col-xs-12">
    <div class="row">
        <div class="middle_bar">
            <!-- <div class="single_category wow fadeInDown">
                <div class="category_title"> <a href="pages/category-archive.html">Category 1</a></div>
                <div class="single_category_inner">
                    <ul class="catg_nav">
                        <li>
                            <div class="catgimg_container"> <a class="catg1_img" href="pages/single_page.html"> <img src="/images/img/310x150.jpg" alt=""> </a></div>
                            <a class="catg_title" href="pages/single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                            <div class="sing_commentbox">
                                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
                        </li>
                        <li>
                            <div class="catgimg_container"> <a class="catg1_img" href="pages/single_page.html"> <img src="/images/img/310x150.jpg" alt=""> </a></div>
                            <a class="catg_title" href="pages/single_page.html">Fusce eu nulla semper porttitor felis sit amet</a>
                            <div class="sing_commentbox">
                                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
                        </li>
                        <li>
                            <div class="catgimg_container"> <a class="catg1_img" href="pages/single_page.html"> <img src="/images/img/310x150.jpg" alt=""> </a></div>
                            <a class="catg_title" href="pages/single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                            <div class="sing_commentbox">
                                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                                <a href="pages/single_page.html"><i class="fa fa-comments"></i>20 Comments</a></div>
                        </li>
                        <li>
                            <div class="catgimg_container"> <a class="catg1_img" href="#"> <img src="/images/img/310x150.jpg" alt=""> </a></div>
                            <a class="catg_title" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
                            <div class="sing_commentbox">
                                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="single_category  wow fadeInDown">
                <div class="category_title"> <a href="pages/category-archive.html">Category 1</a></div>
                <div class="single_category_inner">
                    <ul class="catg_nav catg_nav2">
                        <% theloai1.forEach(function (i){%>
                        <li>
                            <div class="catgimg_container"> <a class="catg1_img" href="#"> <img src="/Uploads/Images/<%=i.urlanh%>" alt=""> </a></div>
                            <a class="catg_title" href="#"> <%= i.tieude%></a>
                            <div class="sing_commentbox">
                                <p><i class="fa fa-calendar"></i><%= i.ngaydang%></p>
                                <a href="#"><i class="fa fa-eye"></i><%= i.luotxem%></a>
                            </div>
                            <p class="post-summary"><%= i.tomtat%></p>
                        </li>
                        <%}) %>
                    </ul>
                </div>
            </div>
            <div class="category_three_fourarea  wow fadeInDown">
                <div class="category_three">
                    <div class="single_category">
                        <div class="category_title"> <a href="pages/single_page.html">Category 2</a></div>
                        <div class="single_category_inner">
                            <ul class="catg_nav catg_nav3">
                                <li>
                                    <div class="catgimg_container"> <a class="catg1_img" href="pages/single_page.html"> <img src="/Uploads/Images/<%=theloai2[0].urlanh%>" alt=""> </a></div>
                                    <a class="catg_title" href="#"> <%=theloai2[0].tieude%></a>
                                    <div class="sing_commentbox">
                                        <p><i class="fa fa-calendar"></i><%= theloai2[0].ngaydang%></p>
                                    </div>
                                    <p class="post-summary"><%=theloai2[0].tomtat%></p>
                                </li>
                            </ul>
                            <div class="catg3_bottompost wow fadeInDown">
                                <ul class="catg3_snav">
                                    <% for(let i = 1; i < theloai2.length; i++){%>
                                    <li>
                                        <div class="media"> <a class="media-left" href="pages/single_page.html"> <img src="/Uploads/Images/<%=theloai2[i].urlanh%>" alt=""> </a>
                                            <div class="media-body"> <a class="catg_title" href="pages/single_page.html"> <%=theloai2[i].tieude%></a>
                                                <div class="sing_commentbox">
                                                    <p><i class="fa fa-calendar"></i><%= theloai2[i].ngaydang%></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category_four wow fadeInDown">
                    <div class="single_category">
                        <div class="category_title"> <a href="#">Category 3</a></div>
                        <div class="single_category_inner">
                            <ul class="catg_nav catg_nav3">
                                <li>
                                    <div class="catgimg_container"> <a class="catg1_img" href="pages/single_page.html"> <img src="/Uploads/Images/<%=theloai2[0].urlanh%>" alt=""> </a></div>
                                    <a class="catg_title" href="#"> <%=theloai3[0].tieude%></a>
                                    <div class="sing_commentbox">
                                        <p><i class="fa fa-calendar"></i><%= theloai3[0].ngaydang%></p>
                                    </div>
                                    <p class="post-summary"><%=theloai3[0].tomtat%></p>
                                </li>
                            </ul>
                            <div class="catg3_bottompost wow fadeInDown">
                                <ul class="catg3_snav">
                                    <% for(let i = 1; i < theloai3.length; i++){%>
                                    <li>
                                        <div class="media"> <a class="media-left" href="pages/single_page.html"> <img src="/Uploads/Images/<%=theloai3[i].urlanh%>" alt=""> </a>
                                            <div class="media-body"> <a class="catg_title" href="pages/single_page.html"> <%=theloai3[i].tieude%></a>
                                                <div class="sing_commentbox">
                                                    <p><i class="fa fa-calendar"></i><%= theloai3[i].ngaydang%></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_category wow fadeInDown">
                <div class="category_title"> <a href="#">Category 4</a></div>
                <div class="single_category_inner">
                    <ul class="catg3_snav catg5_nav">
                        <% theloai4.forEach(function (i){%>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/Uploads/Images/<%=i.urlanh%>"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"><%= i.tieude%></a>
                                    <div class="sing_commentbox">
                                        <p><i class="fa fa-calendar"></i><%= i.ngaydang%></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <%}) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>