<% layout('../layouts') -%>

<%include ../partials/slide%>

<section id="contentbody">
  <div class="row">

    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12">
        <div class="row">
            <div class="middle_bar">
                <div class="single_category  wow fadeInDown">
                    <div class="category_title"> <a href="#">Xã Hội</a></div>
                    <div class="single_category_inner">
                        <ul class="catg_nav catg_nav2">
                            <% theloai1.forEach(function (i){%>
                            <li>
                                <div class="catgimg_container"> <a class="catg1_img" href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>"> <img src="/Uploads/Images/<%=i.urlanh%>" alt=""> </a></div>
                                <a class="catg_title" href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>"> <%= i.tieude%></a>
                                <div class="sing_commentbox">
                                    <p><i class="fa fa-calendar"></i><%= myFunc(i.ngaydang)%></p>
                                    <p><i class="fa fa-eye"></i><%= i.luotxem%></p>
                                </div>
                                <p class="post-summary"><%= i.tomtat%></p>
                            </li>
                            <%}) %>
                        </ul>
                        <style type="text/css">
                            .xemthem{
                                margin: 5px 10px 5px 0; 
                            }
                        </style>
                        <a class="xemthem" style="float: right;" href="#">Xem thêm </a>
                    </div>
                </div>
                <div class="category_three_fourarea  wow fadeInDown" >
                    <div class="category_three">
                        <div class="single_category">
                            <div class="category_title"> <a href="#">Thể Thao</a></div>
                            <div class="single_category_inner">
                                <ul class="catg_nav catg_nav3">
                                    <li>
                                        <div class="catgimg_container"> <a class="catg1_img" href="/chi-tiet/<%= theloai2[0].idloaitin%>/<%= theloai2[0].idbaiviet%>"> <img src="/Uploads/Images/<%=theloai2[0].urlanh%>" alt="" class="img-responsive"> </a></div>
                                        <a class="catg_title" href="/chi-tiet/<%= theloai2[0].idloaitin%>/<%= theloai2[0].idbaiviet%>"> <%=theloai2[0].tieude%></a>
                                        <div class="sing_commentbox">
                                            <p><i class="fa fa-calendar"></i><%= myFunc(theloai2[0].ngaydang)%></p>
                                            <p><i class="fa fa-eye"></i><%= theloai2[0].luotxem%></p>
                                        </div>
                                        <p class="post-summary"><%=theloai2[0].tomtat%></p>
                                    </li>
                                </ul>
                                <div class="catg3_bottompost wow fadeInDown">
                                    <ul class="catg3_snav">
                                        <% for(let i = 1; i < theloai2.length; i++){%>
                                        <li>
                                            <div class="media"> <a class="media-left" href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>"> <img src="/Uploads/Images/<%=theloai2[i].urlanh%>" alt="" class="img-responsive" style="height: 40px;"> </a>
                                                <div class="media-body"> <a class="catg_title" href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>"> <%=theloai2[i].tieude%></a>
                                                    <div class="sing_commentbox">
                                                        <p><i class="fa fa-calendar"></i><%= myFunc(theloai2[i].ngaydang)%></p>
                                                        <p><i class="fa fa-eye"></i><%= theloai2[i].luotxem%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                            <a class="xemthem" style="float: right;" href="#">Xem thêm</a>
                        </div>
                    </div>
                    <div class="category_four wow fadeInDown">
                        <div class="single_category">
                            <div class="category_title"> <a href="#">Văn Hóa & Giải Trí</a></div>
                            <div class="single_category_inner">
                                <ul class="catg_nav catg_nav3">
                                    <li>
                                        <div class="catgimg_container"> <a class="catg1_img" href="/chi-tiet/<%= theloai3[0].idloaitin%>/<%= theloai3[0].idbaiviet%>"> <img src="/Uploads/Images/<%=theloai3[0].urlanh%>" alt="" class="img-responsive"> </a></div>
                                        <a class="catg_title" href="/chi-tiet/<%= theloai3[0].idloaitin%>/<%= theloai3[0].idbaiviet%>"> <%=theloai3[0].tieude%></a>
                                        <div class="sing_commentbox">
                                            <p><i class="fa fa-calendar"></i><%= myFunc(theloai3[0].ngaydang)%></p>
                                            <p><i class="fa fa-eye"></i><%= theloai3[0].luotxem%></p>
                                        </div>
                                        <p class="post-summary"><%=theloai3[0].tomtat%></p>
                                    </li>
                                </ul>
                                <div class="catg3_bottompost wow fadeInDown">
                                    <ul class="catg3_snav">
                                        <% for(let i = 1; i < theloai3.length; i++){%>
                                        <li>
                                            <div class="media"> <a class="media-left" href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>"> <img src="/Uploads/Images/<%=theloai3[i].urlanh%>" alt="" class="img-responsive" style="height: 40px;"> </a>
                                                <div class="media-body"> <a class="catg_title" href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>"> <%=theloai3[i].tieude%></a>
                                                    <div class="sing_commentbox">
                                                        <p><i class="fa fa-calendar"></i><%= myFunc(theloai3[i].ngaydang)%></p>
                                                        <p><i class="fa fa-eye"></i><%= theloai3[i].luotxem%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                            <a class="xemthem" style="float: right;" href="#">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="single_category wow fadeInDown">
                    <div class="category_title"> <a href="#">Khoa Học</a></div>
                    <div class="single_category_inner">
                        <ul class="catg3_snav catg5_nav">
                            <% theloai4.forEach(function (i){%>
                            <li>
                                <div class="media" style="padding: 5px;"> <a href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>" class="media-left"> <img alt="" src="/Uploads/Images/<%=i.urlanh%>" class="img-responsive" style="height: 40px;"> </a>
                                    <div class="media-body"> <a href="/chi-tiet/<%= i.idloaitin%>/<%= i.idbaiviet%>" class="catg_title"><%= i.tieude%></a>
                                        <div class="sing_commentbox">
                                            <p><i class="fa fa-calendar"></i><%= myFunc(i.ngaydang)%></p>
                                            <p><i class="fa fa-eye"></i><%= i.luotxem%></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <%}) %>
                        </ul>
                    </div>
                    <a class="xemthem" style="float: right;" href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <%include ../partials/cotphai%>

  </div>
</section>

